
/* top navigation menu */
.top-menu{
    background-color: $lightgray;
}
.header-nav-menu-top{
    ul{   
        padding: 0;
        float: right;
        li{
            padding-left: 25px;
            list-style: none;
            float: left;
            a{
                color: darken($blue, 15%);
                font-size: 14px;
                
            }
        }
    }
        
}
/* header logos */
.header-logo{
    width: 100%;
    height: 120px;
    float: left;
    background-color: $white;
}
.logo-one{
    float: left;
    padding-top: 25px;
    padding-left: 0;
}
.logo-two{
    padding-top: 25px;
    a{
        float: right;
    }
}
/*header main menu */
.main-menu-wrapper{
    padding-left: 0 ;
    padding-right: 0 ;
    padding-top: 3px;
    background-color: $white;
   
}
.header-main-menu{
    margin: 0 auto;
    margin-top: 0;
    float: left;
    ul{
        float: left;
        padding: 0;
        margin-bottom: 0;
        li{
            background: $blue;
            margin-right: 3px;
            height: 40px;
            text-align: center;
            min-width: 187px;
            list-style: none;
            float: left;
            padding-top: 7px;
            a{
                color: $white;
                font-size: 18px;
                padding: 10px 14px;
            }
        }
    }
}
/* search box wrapper, search-input, serch-button */
.search {
    float: right;
    right: 0;
    top: 0;
}
.searchbox{
    position:relative;
    min-width:50px;
    width:0%;
    height:40px;
    float:right;
    overflow:hidden;    
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
}
.searchbox-input{
    top:0;
    right:0;
    border:0;
    outline:0;
    background-color: transparent;
    width:100%;
    height:50px;
    margin:0;
    padding:0px 55px 0px 20px;
    font-size:20px;
    color: $black;
    font-style: italic; 
    display: none;
}
.searchbox-input::-webkit-input-placeholder {
    color: $black;
    opacity:0.8;
}
.searchbox-input:-moz-placeholder {
    color: $black;
    opacity:0.8;
}
.searchbox-input::-moz-placeholder {
    color: $black;
    opacity:0.8;
}
.searchbox-input:-ms-input-placeholder {
    color: $black;
    opacity:0.8;
}
.searchbox-icon,
.searchbox-submit {
    width: 50px;
    height: 40px;
    display: block;
    position: absolute;
    top: 0;
    font-family: verdana;
    font-size: 22px;
    right: 0;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
    color: $white;
    background-color: $blue;
}
.searchbox-open {
    width:100%;
}
.center {
    text-align: center;
    margin: 0 auto;
    float: none;
}
.search-icon{
    color: $white;
    font-size: 25px;
    padding-left: 15px;
}
.search-box-block{
    height: 40px;
    width: 54px;
    background-color: $blue;
}
