@font-face {
    font-family: "Roboto-Regular";
    font-style: normal;
    font-weight: normal;
    src: url("../font/Roboto-Regular.eot?") format("eot"),
         url("../font/Roboto-Regular.woff2") format("woff2"),
         url("../font/Roboto-Regular.woff") format("woff"),
         url("../font/Roboto-Regular.ttf") format("truetype"),
         url("../font/Roboto-Regular.svg#Roboto-Regular") format("svg");
}

